* {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 30px 0;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.mc-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1.5rem;
}

.mc-grid-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.mc-pane-box {
  padding: 25px;
}

.mc-heading-title {
  font-size: 1.35em;
  margin-bottom: 15px;
}

.mc-input-row {
  margin-bottom: 20px;
}

.mc-input-row label {
  padding: 5px 0;
  display: block;
}

.mc-input-row input,
.mc-input-row select {
  background-color: #fff;
  padding: 9px 15px 10px;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
}

.mc-input-wrap {
  position: relative;
}

.mc-code-currency {
  position: absolute;
  left: 9px;
  top: 16px;
  z-index: 1;
}

.mc-code-percentage {
  position: absolute;
  left: 75px;
  top: 15px;
  z-index: 1;
}

.mc-loan-amount input {
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  padding: 12.52px 50.2px 13.52px 22.04px;
}

.mc-loan-value {
  font-size: 1.3em;
  font-weight: bold;
}

.mc-buttons {
  margin-top: 15px;
}

.mc-buttons button {
  background-color: #008094;
  color: #fff;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-transition: all .25s;
  transition: all .25s;
  border: 2px solid #008094;
  text-transform: uppercase;
}

.mc-buttons button:hover {
  background-color: #fff;
  color: #008094;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.mc-buttons button:focus {
  outline: 0;
}

.mc-buttons label {
  text-align: center;
}

.mc-buttons #btnReset {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 20px;
}

.mc-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mc-note-text {
  font-size: 0.8em;
  font-style: italic;
  padding-top: 5px;
}

.mc-range-slider {
  margin: 15px 0 65px 0;
}

.mc-short-input {
  width: 80px;
}

.mc-bold {
  font-weight: normal;
}

.mc-orange-text {
  color: #f56a00;
}

.ui-spinner-button {
  background: rgba(0, 0, 0, 0.05);
}

.ui-spinner-button:hover {
  background: rgba(0, 0, 0, 0.08);
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.ui-spinner-input {
  border: none !important;
}

.noUi-value {
  margin-top: 4px;
  font-size: 1em;
}

.mc-loan-amount .mc-code-currency {
  position: absolute;
  left: 9px;
  top: 14px;
  z-index: 1;
}

#mc-pane-info {
  grid-column: span 1;
}

#mc-pane-graph {
  grid-column: span 2;
}

#graph-chart {
  min-height: 100%;
  width: 100%;
}

@media (max-width: 1024px) {
  .mc-grid-container,
  .mc-grid-inner {
    grid-gap: 0;
  }
  #mc-pane-info {
    grid-column: span 2;
  }
}
/*# sourceMappingURL=style.css.map */